
/* Fond sombre comme le header */
.footer {
  background-color: #212529; /* équivalent bg="dark" */
  color: #f8f9fa;
}

/* Liens du footer */
.footer a {
  color: #dee2e6;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer a:hover {
  font-weight: bold;
}

.icon {
  color: #b3b3b3; /* gris clair */
  transition: color 0.3s ease;
}

.icon-link:hover .icon {
  color: white; /* devient blanc au survol */
}