
.hero-section {
  height: 80vh;
  background-image: url('../assets/image/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.8;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.hero-subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* Responsive : tablettes */
@media (min-width: 768px) {
  .hero-title {
    font-size: 3.5rem;
  }
  .hero-subtitle {
    font-size: 2rem;
  }
}

/* Responsive : grands écrans */
@media (min-width: 1200px) {
  .hero-title {
    font-size: 4.5rem;
  }
  .hero-subtitle {
    font-size: 2.5rem;
  }
}



.about-section h3 {
  margin-bottom: 1rem;
  border-bottom: 4px solid blue;
  padding-bottom: 0.5em;
}

.about-section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1em;
}